<div class="navbar">
  <div class="sub_header"> Edit: <%= @problem.problem_name %> <%= @problem.problem_grade %></div>
  <div class="nav right top">
    <%= link_to 'Add Problem', new_problem_path %>
  </div>
</div>
<div>
  <%= render 'form' %>
  <%= button_to 'Delete', problem_path(@problem), method: :delete %>
  <!-- #data: { confirm: 'Are you sure?'} ->
</div>
