<div class="navbar">

  <div class="sub_header"><%= @problem.problem_name %></div>
  <div class="nav right top">
    <%= link_to 'Edit Problem', edit_problem_path(@problem) %>
  </div>
</div>

<div class="problem_display">
	<div class="left_display">
		<p>
			<strong>Main Area:</strong>
			<%= @problem.main_area %>
		</p>

		<p>	
		  <strong>Description:</strong>
		  <%= @problem.description %>
		</p>
	</div>

	<div class="right_display">
	<p><strong>Photos:</strong></p>
	<p>
		<%= image_tag @problem.image.url(:medium) %>
		<!-- :medium, :thumb -->
	</p>

	<hr>

	<div id="comments">
		<h4>Comments</h4>
		<%= render @problem.comments %>
		<%= render 'comments/form' %>
	</div>
</section>
