<section class="problem_display">
	<p>
		<strong>Main Area:</strong>
		<%= @problem.main_area %>
	</p>

	<p>	
	  <strong>Description:</strong>
	  <%= @problem.description %>
	  <br><br><br>
	  <%= link_to 'Edit', edit_problem_path(@problem) %>
	</p>

	<hr>

	<div id="comments">
		<h4>Comments</h4>
		<%= render @problem.comments %>
		<%= render 'comments/form' %>
	</div>
</section>
