<div class="navbar">
  <div class="sub_header">Forgot Your Password?</div>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field" id="top_element">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send Instructions" %>
  </div>
<% end %>
<p>
	<%= render "devise/shared/links" %>
</p>