<!DOCTYPE html>
<%= stylesheet_link_tag "filename" %>
<html>
	<head>
	  <title>Frederick Bouldering</title>
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="wrapper">

	    <header>
				<div class="login_signup">

					<% if user_signed_in? %>
						<%= current_user.email %> | 
						<%= link_to 'Sign Out',destroy_user_session_path, method: :delete %>
					<% else %> 
						<%= link_to 'Login', new_user_session_path %>
						&nbsp; | &nbsp;
						<%= link_to 'Sign Up', new_user_registration_path %>
 					<% end %>
					
				</div>
	    
	    	<div class="header_text">
	    		<a href="/"> Frederick Bouldering </a>
	    	</div>
	    </header>

			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>

			<%= yield %>

			<footer>
				<%= link_to 'Back', :back %>
				&nbsp;&nbsp;
				<%= link_to 'All Problems', problems_path %>
				&nbsp;&nbsp;
				<%= link_to 'Add Problem', new_problem_path %>
			</footer>
		</div> <!-- close wrapper -->
	</body>
</html>